* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: arial;
}

/*
	NAVBAR
*/
#navbar {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: royalblue;
	color: white;
	padding: 10px;
	display: block;
}

#navbar nav {
	width: 70%;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav img {
	width: 125px;
	height: 125px;
	float: top left;
/*	animation: rotation 20s infinite linear;*/
}

nav ul .nav-link {
	display: inline-block;
	font-size: 1.618em;
	margin: 0 20px;
	overflow: hidden;
	list-style-type: none;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.wrapper {
	display: flex !important;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px;
	display: block;
	flex-direction: row;
	flex-wrap: wrap;
}

.wrapper header {
	margin: 25px 0;
	text-align: center;
	width: 100%;
}

.card-wrapper {
	width: 70%;
	margin: 25px 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.product-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	width: 350px;
	padding: 25px;
	border: 2px solid grey;
	margin: 25px 0;
}

.product-card h1 {
	font-size: 23px;
	font-weight: normal;
	line-height: 1.618;
}

.product-card .price {
	margin-top: 3px;
	font-size: 17px;
	line-height: 1.618;
}

.product-card img {
	width: 75%;
}

.product-card .info {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

button.addToCart,
#checkout {
	background-color: lightsalmon;
	border: none;
	color: white;
	font-weight: bold;
	padding: 15px 32px;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

button.addToCart {
	padding: 7.5px 16px;
	font-size: 12px;
}

button.addToCart:hover,
#checkout:hover {
	background-color: salmon;
	transition: 0.5s;
}

.cart-wrapper {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 25px 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.cart-title {
	width: 100%;
	margin: 25px 0;
}

.cart-item {
	display: flex;
	border-top: 2px solid lightgrey;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 50px;
}

.cart-item-img,
.cart-item-name,
.cart-item-quantity,
.cart-item-price {
	display: flex;
	width: 100%;
}

.cart-item-name,
.cart-item-quantity,
.cart-item-price {
	font-weight: normal;
	font-size: 16px;
}

.cart-end {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.checkout-total {
	margin: 0 25px;
	font-size: 25px;
	font-weight: bold;
}
